@import 'tailwindcss';
@import 'tw-animate-css';

@variant dark (&:where(.dark, .dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-section-blue: var(--section-blue);
  --color-section-blue-border: var(--section-blue-border);
  --color-section-blue-text: var(--section-blue-text);

  --color-section-red: var(--section-red);
  --color-section-red-border: var(--section-red-border);
  --color-section-red-text: var(--section-red-text);

  --color-section-green: var(--section-green);
  --color-section-green-border: var(--section-green-border);
  --color-section-green-text: var(--section-green-text);

  --color-section-amber: var(--section-amber);
  --color-section-amber-border: var(--section-amber-border);
  --color-section-amber-text: var(--section-amber-text);

  --color-golden: var(--golden);
  --color-section-dark: var(--section-dark);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);

  --section-blue: oklch(0.925 0.035 247.5);
  --section-blue-border: oklch(0.89 0.035 245);
  --section-blue-text: oklch(0.44 0.16 250);

  --section-red: oklch(0.95 0.04 25);
  --section-red-border: oklch(0.75 0.1 25);
  --section-red-text: oklch(0.5 0.15 25);

  --section-green: oklch(0.696 0.17 162 / 0.15);
  --section-green-border: oklch(0.696 0.17 162 / 0.3);
  --section-green-text: oklch(0.765 0.177 163);

  --section-amber: oklch(0.96 0.05 85);
  --section-amber-border: oklch(0.75 0.1 85);
  --section-amber-text: oklch(0.5 0.12 85);
  --golden: oklch(0.72 0.08 65);
  --section-dark: oklch(21.48% 0.03444 254.607);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);

  --section-blue: oklch(0.25 0.05 250);
  --section-blue-border: oklch(0.65 0.1 250);
  --section-blue-text: oklch(0.75 0.12 250);

  --section-red: oklch(0.28 0.13 25);
  --section-red-border: oklch(0.7 0.15 25);
  --section-red-text: oklch(0.78 0.16 25);

  --section-green: oklch(0.27 0.08 140);
  --section-green-border: oklch(0.7 0.12 140);
  --section-green-text: oklch(0.75 0.14 140);

  --section-amber: oklch(0.3 0.08 85);
  --section-amber-border: oklch(0.75 0.12 85);
  --section-amber-text: oklch(0.8 0.13 85);

  --golden: oklch(0.72 0.08 65);
  --section-dark: oklch(89.1% 0.01315 266.734);
}

@layer base {
  * {
    border-color: var(--color-border);
    outline-color: rgb(var(--color-ring) / 0.5);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);

    width: 100%;
    overflow-x: hidden;
  }
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@layer components {
  .section-container {
    @apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
  }
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-gutter: stable;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    margin-block: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 9999px;
  }
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 0;
}
